.modal{
    height:40vh;
    width:60vw;
    padding: 9px 0;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(15, 34, 58,.26),0 2px 10px 0 rgba(15, 34, 58,.16);
    width: max-content;
    position: absolute;
    z-index: 110;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85);
    &.open{
        transform-origin: center center;
        transform: scale(1);
    }
    &.close{
        transform-origin: center center;
        transform: scale(0);
    }
}
.modal-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top:0;
    left:0;
    display: none;
}