.modal{
    .modal-wrapper{
        position: absolute;
        top: calc(50% - 125px);
        left: calc(50% - 200px);
        height:250px;
        width:400px;
        border-radius: 3px;
        background-color: white;
        padding: 22px 24px 20px;
        box-shadow: 0 17px 50px 0 rgba(gray,.19),0 12px 15px 0 rgba(gray,.24);
        z-index: 111;
        transform-origin: center center;
        transform: scale(0);
        transition: all 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85);
    }
    &.open{
        .modal-wrapper{
            transform-origin: center center;
            transform: scale(1);
        }
        .modal-overlay{
            display: block;
        }
    }
    &.close{
        .modal-wrapper{
            transform-origin: center center;
            transform: scale(0);
        }
        .modal-overlay{
            display: none;
        }
    }
    .modal-overlay{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 110;
        top:0;
        left:0;
        display: none;
        background-color: rgba($color: #ffffff, $alpha: 0.85);
    }
}