.modal{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top:0;
    left:0;
    display: none;
    .modal-wrapper{
        height:250px;
        width:400px;
        border-radius: 3px;
        background-color: white;
        padding: 22px 24px 20px;
        box-shadow: 0 17px 50px 0 rgba(gray,.19),0 12px 15px 0 rgba(gray,.24);
        z-index: 110;
        transform-origin: center center;
        transform: scale(0);
        transition: all 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85);
    }
    &.open{
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-wrapper{
            transform-origin: center center;
            animation:  scale-up 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85) forwards;
        }
        .modal-overlay{
            display: block;
        }
    }
    &.close{
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .modal-wrapper{
            animation:  scaleDown 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85) forwards;
        }
        .modal-overlay{
            display: none;
        }
    }
    .modal-overlay{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 100;
        top:0;
        left:0;
        display: none;
    }
}

@keyframes scale-up{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scaleDown{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}