.list-menu{
    padding: 9px 0;
    border-radius: 3px;
    background-color: var(--bg-color-1);
    box-shadow: var(--box-shadow-modal);
    width: max-content;
    position: absolute;
    z-index: 110;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.61, 0.18, 0.88, 0.85);
    &.open-top-right{
        transform-origin: top right;
        transform: scale(1);
        & ~ .overlay{
            display: block;
        }
    }
    &.close-top-left{
        transform-origin: top left;
        transform: scale(0);
    }
    &.open-top-left{
        transform-origin: top left;
        transform: scale(1);
        & ~ .overlay{
            display: block;
        }
    }
    &.close-top-right{
        transform-origin: top right;
        transform: scale(0);
    }
    &.open-bottom-right{
        transform-origin: bottom right;
        transform: scale(1);
        & ~ .overlay{
            display: block;
        }
    }
    &.close-bottom-right{
        transform-origin: bottom right;
        transform: scale(0);
    }
    li{
        list-style: none;
        padding: 10px 0;
        padding-right: 58px;
        padding-left: 24px;
        text-align: left !important;
        cursor: pointer;
        &:hover{
            background-color: var(--bg-color-2);
        }
    }
}
.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    top:0;
    left:0;
    display: none;
}