.main-chat-container{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    .icon{
        height:35px;
        width:35px;
        border-radius: 50%;
        // transition: background-color 0.2s ease-in-out;
        &:hover, &.active{
            background-color: var(--icon-background-active);
            path{
                fill:var(--accent-color);
            }
        }
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child){
            margin-right: 10px;
        }
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            path{
                fill:var(--icon-color-1);
            }
        }
    }
    .top-section{
        width:100%;
        padding: 0px 2%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color-2)!important;
        &{
            display: flex;
            align-items: center;
            width: 100%;
            &:last-child{
                width: max-content;
                justify-content: flex-end;
            }
            .image{
                height:50px;
                width: 50px;
                img{
                    height: 100%;
                    width: 50px;
                    border-radius: 50%;
                }
            }
            .content{
                margin-left: 10px;
                height: 100%;
                width: 100%;
                position: relative;
                padding: 20px 0;
                cursor: pointer;
                h3{
                    margin: 0;
                    width: 100%;
                    height: 25px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: absolute;
                    top:8px;
                    left:0;
                }
                small{
                    position: relative;
                    top:10px;
                }
            }
            &>div:last-child{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .chat-holder{
        height: 100%;
        padding-top: 20px;
        overflow-y: auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
        transition: background-color 0.5s ease-in-out;
        position: relative;
        background-color: var(--bg-color-4);
        .pattern{
            position: absolute;
            height: 100%;
            width: 100%;
            top:0;
            left:0;
            background-image: var(--pattern-chat);
            background-position: center center;
            background-repeat: repeat;
            opacity: 0.15;
            transition: all 0.5s ease-in-out;
            &[data-pattern = "light"]{
                background: url(../../patternDark.png);
            }
            &[data-pattern = "dark"]{
                background: url(../../patternLight.png);
            }
        }
    }
    .input-section{
        border-top: 1px solid var(--border-color-2)!important;
        height:max-content;
        width: 100%;
        display: flex;
        padding: 10px 2% 10px 2%;
        .input-holder{
            flex: 1 1 auto;
            box-sizing: border-box;
            width: inherit;
            min-width: 0;
            min-height: 20px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            outline: none;
            will-change: width;
            margin: 5px 10px;
            padding: 9px 12px;
            background-color: var(--bg-color-3);
            border: 1px solid var(--bg-color-3);
            border-radius: 10px;
            user-select: text;
            .input-wrapper{
                position: relative;
                display: flex;
                flex: 1;
                overflow: hidden;
                outline: 0;
                .placeholder{
                    position: absolute;
                    color:var(--text-color-tertiary);
                }
                .input{
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    min-height: 24px;
                    max-height: 100px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    font-weight: 400;
                    font-size: 15px;
                    white-space: normal;
                    word-break: break-word;
                    outline: none;
                    &:focus{
                        outline: 0;
                    }
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    img{
                        height: 20px;
                        vertical-align: top;
                        image-rendering: -webkit-optimize-contrast;
                        -webkit-user-select: text;
                        -moz-user-select: text;
                        -ms-user-select: text;
                        user-select: text;
                    }
                }
            }
        }
        .icons{
            display: flex;
            align-items: center;
            align-self: flex-end;
            margin-bottom: 10px;
        }
        .send{
            height:40px;
            width:45px;
            border-radius: 5px;
            background-color: transparent;
            border: none;
            outline: 0;
            background-color: var(--accent-color);
            border-color: var(--accent-color);
            padding: 0;
            margin-bottom: -5px;
            i{
                height: 100%;
                width:100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            path{
                fill:var(--bg-color-1);
            }
        }
    }
    aside.emoji-picker-react{
        width: 100%;
        border: 1px solid var(--border-color-2) !important;
        border-bottom: 0;
        box-shadow: none;
        border-radius: 0;
        background-color: var(--bg-color-1);
        .emoji-categories button{
            width: 40px;
            margin: 5px 0;
            border-radius: 50%;
            opacity: 0.8;
            &:hover{
                background-color: var(--icon-background-active);
                border-color: var(--accent-color);
            }
        }
        .content-wrapper:before{
            content: ''!important;
        }
        .emoji button {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.1s background;
            border-radius: 50%;
            &:hover{
                background-color: transparent !important;
            }
            img{
                image-rendering: -webkit-optimize-contrast;
            }
        }
        input.emoji-search{
            border-color: var(--bg-color-3) !important;
            background-color: var(--bg-color-3) !important;
        }
        .emoji-group:before{
            color:var(--text-color-primary);
            background-color: var(--bg-color-1);
        }
        .emoji.has-skin-variation:before{
            background-color: var(--text-color-primary);
        }
    }
    .picker{
        height: 0;
        min-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        &.open{
            height: 320px;
            min-height: 320px;
        }
        &.close{
            height: 0px;
            min-height:0 ;
        }
    }
    .icon-menu{
        position: relative;
    }
}