<div class="main-container">
    <div class="top-section">
        <div class="content">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="text">
                <h3>Aayush Agarwal</h3>
                <span>Online</span>
            </div>
        </div>
        <div class="options"></div>
    </div>
    <div class="chat-section">
        <div class="chat-wrapper" id="chat-container">
            <ul class="chat-message-list" id="chat-list">
            </ul>
        </div>
    </div>
    <div class="input-section">
        <input type="text">
    </div>
</div>