.flex-container{
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--bg-color-3);
    position: relative;
    .top-flex-bar{
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width: 100%;
        height: 127px;
        background-color: var(--accent-color-dark);
    }
    .flex-wrapper{
        position: absolute;
        top:0;
        left:0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: var(--bg-color-1);
    }
    .wrapper-side{
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    }
}


@media screen and (min-width:1400px){
    .flex-container{
        .flex-wrapper{
            top:19px;
            left:50%;
            transform: translateX(-50%);
            width: 1400px;
            height: calc(100% - 38px);
        }
    }
}

@media screen and (max-width:1100px){
    .flex-container{
        .wrapper-side{
            width: 100%;
            min-width: 350px;
            .main-chat-container{
                position: absolute;
                height: 100%;
                width: 100%;
            }
            .side-section{
                position: absolute;
                top:0;
                right: 0;
                min-width: 0;
                max-width: 0;
                background-color: transparent;
                z-index: 0;
                transition: all 0.2s ease-in-out;
                overflow: hidden;
                border: none;
                .side-section-wrapper{
                    position: absolute;
                    background-color: var(--bg-color-1);
                    top:0;
                    left:0;
                    z-index: 1;
                    width: 100%;
                    min-width: 350px;
                }
                &.close{
                    .side-section-wrapper{
                        animation: fade-out 1s ease-out forwards;
                    }
                }
                &.open{
                    width: 100%;
                    min-width: 100%;
                    .side-section-wrapper{
                        transform: translateX(100%);
                        animation: fade-in 0.3s ease-in forwards;  
                        animation-delay: 0.1s; 
                    }  
                }
            }
        }
    }
}

@keyframes fade-in{
    0%{
        // opacity: 0;
        transform: translateX(100%);
    }
    100%{
        // opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-out{
    0%{
        // opacity: 1;
        transform: translateX(0);
    }
    100%{
        // opacity: 0;
        transform: translateX(100%);
    }
}